/* Application wide styles */

.label {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

.button {
    -fx-font-weight: bold;
}

/* Component specific styles */


.main-panel {
    -fx-background-image: url("../images/background.jpg");
}

.hello-message {
    -fx-text-fill: #AA0000;
    -fx-font-weight: bold;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

.cloud-bg {
    -fx-background-color: linear-gradient(#4096ee 0%, #60abf8 44%, #7abcff 100%);
}

.cloud-fg {
    -fx-background-image: url("../images/cloud1.png");
    -fx-background-position: center, center;
    -fx-background-repeat: no-repeat;
}

.bootstrap-buttons-container {
    -fx-background-color: rgba(255, 255, 255, 0.5);
}

.close-button {
    -fx-background-image: url("../icons/cross.png");
    -fx-background-color: transparent
}

.chart-panel {
    -fx-background-color: #333333;
    -fx-background-image: url("../images/low_contrast_linen.png");
}

.footer {
    -fx-background-color: #333333;
}

.menu-pane {
    -fx-background-image: url("../images/cloud-logo2.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: bottom;
}
.accordion-panel{
    -fx-background-color: rgba(0, 0, 0, 0);
}